.team{
  height: 23%;
  margin: 0 65px 0 65px;
  width: center;
  background-color: white;
  border: solid 1px;
  border-color: gray;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.container_hero{
  width: 10%;
  max-width: 10%;
}

.img_hero{
  height: 176px;
  width: 166px;
  border-radius: 5px;
  border: solid 1px red;
  margin-top: 5px;
}

.btn_hero{
  position: absolute;
  width: 6%;
  font-size: smaller;
  margin-top: 5px;
}
